/* Resetting default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body, html {
  height: 100%;
  background-color: #1a1a2e; /* Dark background color */
}

/* Centering the container */
.container {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  background-color: #16213e; /* Dark blue shade for the container */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  

}

#input-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
    width: 100%;
    
}

h1 {
  color: #dddddd;    /* Off White color  */
  font-size: 2.5em;
  margin-bottom: 20px;
}

h2 {
  color: #dddddd;    /* Off White color  */
  font-size: 1.5em;
  margin-top: 40px;
  margin-bottom: 20px;
}

/* Styles for input fields and button */
textarea, input {
  padding: 10px;
  border: 1px solid ;
  border-radius: 8px;
  background-color: #0f3460;
  color: #ffffff;
  font-size: 1em;
  width: 100%;

}

#publishBtn {
  background-color: #00d0ff;
  color: #000;
  font-size: x-large;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
  width: 100%;
}

#publishBtn:hover {
  background-color: #0095ff;

}

/* Styles for endorsements list */
#endorsementsList {
  text-align: left;
  margin: 0 20px;
}

#endorsementText{
    height: 200px;
}

.endorsement {
  background-color: #0f3460; /* Slightly lighter shade for cards */
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  color: #ffffff;
}

.to {
  font-weight: bold;
  margin-bottom: 5px;

}

.from {
  margin-top: 10px;
  font-style: italic;
}

.likes {
  color: #e94560;
  cursor: pointer;
  user-select: none;
  margin-top: 10px;
}

.likes:hover {
    color: #0095ff;
}

/* Adding custom styles for buttons and icons */
button {
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

button:hover {
  color: #0095ff;
}
