.travel-feed {
    max-width: 800px;
    margin: auto;
    padding: 40px;
  }
  
  .travel-entry {
    margin-bottom: 40px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .travel-entry h2 {
    margin-top: 0;
    font-size: 4rem;
    margin: 0px;
  }
  
  .travel-entry img {
    width: 100%;
    height: auto;
    border-radius: 0 0 8px 8px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .entry-con{
    padding: 20px;
    background: black;
    border-radius: 8px;
  }


  .date{
    color: #fff;
    font-size: 1.125rem;
    font-weight: 600;
    margin: 0px;
    
  }


  .description{
    margin: 0px;
    padding-top: 1rem;
    line-height: 1.5;
    font-size: 1.25rem;
  }

  .location-con{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    color: #fff;
    margin: 0px;
  }


  .locationDotIcon{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
  }


  .country{
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0px;
    text-transform: uppercase;
  }

  .viewOnGoogleMaps{
    font-size: 1.125rem;
    font-weight: 300;
    margin: 0px;
    margin-left: 10px;
    color: #ffffff;
  }
 
.title{
    padding-bottom: 20px;
}