@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


body, html {
  background-color: #000;
  color: #0f0;
  font-size: 24px;
  font-family: 'Roboto Mono', monospace;
  height: 100%;
  margin: 0px;
}
